# For randomizing key mappings
public net.minecraft.client.KeyMapping f_90809_ # ALL
public com.mojang.blaze3d.platform.InputConstants$Key f_84857_ # NAME_MAP

# For random uncrouching
public net.minecraft.world.entity.Entity m_20175_(Lnet/minecraft/world/entity/Pose;)Z # canEnterPose

# For adding goals after entity init
public net.minecraft.world.entity.Mob f_21345_ # goalSelector
public net.minecraft.world.entity.Mob f_21346_ # targetSelector

# There is probably a better way to iterate over every loaded chunk on the client but I do not care
public net.minecraft.client.multiplayer.ClientChunkCache$Storage
public net.minecraft.client.multiplayer.ClientChunkCache$Storage f_104466_ # chunks
public net.minecraft.client.multiplayer.ClientChunkCache f_104410_ # storage
public net.minecraft.client.multiplayer.ClientChunkCache$Storage f_104471_ # chunkCount

# This could lead to some trouble down the way! (because it is protected)
public net.minecraft.world.entity.Entity m_20260_(Z)V # setShiftKeyDown

# This is being used to expose a way to easily detonate a creeper
public net.minecraft.world.entity.monster.Creeper m_32315_()V # explodeCreeper

# This is currently being used to position the creeper's head in a right way when it comes down as a missile
public net.minecraft.client.model.CreeperModel f_102451_ # head

# This is needed for the fake blocks
public net.minecraft.world.level.block.state.BlockBehaviour f_60439_ # properties
public net.minecraft.world.level.block.state.BlockBehaviour$Properties f_60889_ # requiresCorrectToolForDrops